* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: Tahoma, sans-serif;
    background: rgb(14, 14, 15);
}

/*Layout*/

#logo {
    color: azure;
}

#logo span {
    color: orange;
}

#cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(59, 58, 58);
    height: 150px;   
}

#menu-lateral {
    height: auto;
    float: right;
    margin: 10px 15px;
    background: rgb(59, 58, 58);
    width: 300px;
    height: auto;
    position: static;
    padding-bottom: 300px ;
    margin-top: 25px;
    border-radius: 15px;
    
}

#canais h2 {
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

#canais a:hover {
    color: rgb(170, 255, 0);
}

#opcoes {
    margin: 5px 10px;
}

#opcoes img {
    margin-bottom: 15px;
}

#titulo-principal h2 {
    color: azure;
    background: none;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    margin: 15px 10px;     
}

#texto-principal p {
    color: azure;
    width: 700px;
    margin: 0 auto;
    font-size: 1em;
    padding: 5px 10px;
    background: rgb(59, 58, 58);
    border-radius: 15px;
    
}

#texto-principal span, #titulo-principal h2 {
    color: orange;   
}

#texto-principal span {
    display: flex;
    justify-content: center;
}

#texto-principal span:hover {
    color: rgb(170, 255, 0);
}
/*Fim Layout*/

/*Formatação em Geral*/
h2 {
    background: rgb(59, 58, 58);
    color: orange;   
}

a:link, a:visited {
    font-size: 1.5em ;
    text-decoration: none;
    color: azure
}




